%h1 All Tasks

- @tasks.each do |task|
  %p
    title:
    = task.title
    %br
    description:
    = task.description
    %br
    event_name:
    = link_to task.event.event_name, task.event
    %br
